{{extend 'layout.html'}}

{{block head}}
{{end}}
<head>
  <script>
    var add_transaction_url = "{{=URL('api', 'add_transaction')}}";
    var get_transactions_url = "{{=URL('api', 'get_transactions')}}";
  </script>
  <script type="text/javascript" src="../static/js/read-csv.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link href="../static/css/stupid.css" rel="stylesheet">
</head>
<!-- <script src="../static/js/charts.js"></script> -->
<!DOCTYPE html>
<html>
  <div class="main_content">
    {{if auth.user is not None:}}
      <body>
        <center><label>Upload
          <input type="file" id="csvFileInput" size="60" onchange="handleFiles(this.files)"
                  accept=".csv">
        </label></center>
        <div>
          <canvas id="myChart" style="width=25 height=50"></canvas>
        </div>

      </body>

    <h2>Your Transactions</h2>
    {{if transactions:}}
      <table id="list" style="width:100%">
        <tr>
          <th>Date</th>
          <th>Price</th>
          <th>Description</th>
        </tr>
        {{for tn in transactions:}}
          <tr>
            <div class="table_cells">
              <td>{{=tn.date_made.strftime("%m/%d/%Y")}}</td>
              <td>${{=tn.price}}</td>
              <td>{{=tn.description}}</td>
            </div>
          </tr>
        {{pass}}
      </table>
    {{pass}}
  {{else:}}
    <br>
    <h1><center>Welcome to Budget Tracker!</center></h1>

    <p><center>This site will help you keep track of your spending and income!
        Please log in to use it.</center></p>

        <center><img src="../static/images/logo.png"></center>
    <br>
  {{pass}}

  </div>
</html>
<script src="../static/js/charts.js"></script>
