
{{extend 'layout.html'}}

{{block head}}
{{end}}
<head>
  <script>
    var add_transaction_url = "{{=URL('api', 'add_transaction')}}";
    var get_transactions_url = "{{=URL('api', 'get_transactions')}}";
    var clear_table_url = "{{=URL('api', 'clear_table')}}";
  </script>
  <script type="text/javascript" src="../static/js/read-csv.js"></script>
  <script type="text/javascript" src="../static/js/delete-table.js"></script>
  <script type="text/javascript" src="../static/js/dropdown.js"></script>
  <link href="../static/css/stupid.css" rel="stylesheet">
  <link href="../static/css/dropdown.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<!DOCTYPE html>
<html>
  <div class="main_content" style="background-image: url(../static/images/penta.png);">
    {{if auth.user is not None:}}
      <body>
        <div class="banner-container" style ="background-color: black; background-size: 100% 100%; margin-top"0%">

          <div class="banner-text" style= "font-family: 'lobster',cursive; color: white;">
            <h1><center>Your Transactions</center></h1>
          </div>
        </div>

        <div class="flex-container">
          <input type="text" id="entry" onkeyup="searchingWithFilter();" placeholder="Search for names.." title="Search" style="font-family: 'lobster'; color:black;">
        </div>
        <div class="container" style="background-color:#e2ffe9; padding: 20px;">
          <div class="third">
            <div class="flex-container" style="margin-left: 40px;">
              <label class="label1" style="background-color: #fca776;">Upload CSV File
                <input type="file" id="csvFileInput" size="60" onchange="handleFiles(this.files)"
                    accept=".csv">
              </label>
              <button class="label1" onclick="refresh();" style="margin-left: 100px; background-color: #fca776;">Refresh</button>
            </div>
            <div class="container1">
              <div class="dropdiv" style="font-family: 'lobster';" >
                <h4>Filter by Price:</h4>
                <div class="filterDropdown"  style="background-color: #fca776">
                  <select id="prices" onchange="selectFilter()" style= "font-family: 'lobster'" >
                    <option>Select a range</option>
                    <option value="0"> Income</option>
                    <option value="1"> Less than $5</option>
                    <option value="2"> $5 to $10 </option>
                    <option value="3"> $10 to $20</option>
                    <option value="4"> $20 to $50</option>
                    <option value="5"> $50 to $100</option>
                    <option value="6"> $100+</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="container1">
              <div class="dropdiv" style="font-family: 'lobster';">
                <h4 style="float:left">Filter by Date:</h4>
                <br>
                <div class="filterDropdown" style=" background-color: #fca776">
                  <select id="dates" onchange="selectFilter()" style= "font-family: 'lobster'" >
                    <option>Select a range</option>
                    <option value="1">Days</option>
                    <option value="2">Weeks </option>
                    <option value="3">Months</option>
                    <option value="4">Years</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="container1">
              <button class="label1" onclick="deleteTable()" style="margin-left: 40px; margin-top: 60px; background-color:  #fca776">Delete Transactions Table</button>
            </div>
        </div>

          <div class="twothirds">
            {{if transactions:}}
              <table id="list" style="width:100%">
                <tr>
                  <th>Date</th>
                  <th>Price</th>
                  <th>Description</th>
                </tr>
                {{for tn in transactions:}}
                  <tr>
                    <div class="table_cells">
                      <td>{{=tn.date_made.strftime("%m/%d/%Y")}}</td>
                      <td>${{=tn.price}}</td>
                      <td>{{=tn.description}}</td>
                    </div>
                  </tr>
                {{pass}}
              </table>
            {{else:}}
              <center>
                <div class="bodytext" style="font-family: 'Acme', sans-serif; font-size: 2em;"
                <h2>
                  You have no transactions! Click the "Upload CSV File" button above to get started.
                </h2>
              </div>
              </center>
            {{pass}}
          </div>
        </div>
          {{else:}}
            <h1><center>Welcome to Budget Tracker!</center></h1>
              <p><center>This site will help you keep track of your spending and income!
                Please log in to use it.</center></p>
              <center><img src="../static/images/logo.png"></center>

              <br>
     {{pass}}
      </body>

  </div>
</html>
<script src="../static/js/search.js"></script>
