.filterDropdown select{
   background:transparent;
   cursor:pointer;
   width: 100%;
   padding: 8px;
   padding-top: 9px;
   font-size:1.1em;
   font-weight:400;
   color:#fff;
   border: 0;
   border-radius: 0;
   /*Hides the default arrows for Selects*/
  -webkit-appearance: none;
  -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
     position: relative;
  }


.filterDropdown{
  float:right;
	width: 52%;
	overflow: hidden;
	background: no-repeat right #00cca3;
  height: 40px;
  margin-top: -12px;
  position: relative;
	-webkit-border-radius: 4px 4px 4px 4px;
	 -moz-border-radius: 4px 4px 4px 4px;
		  border-radius: 4px 4px 4px 4px;
	-webkit-box-shadow: inset 0 2px 4px rgba(107, 105, 105, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	 -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		  -moz-box-shadow:    0px 8px 3px -9px #000000;
		  -webkit-box-shadow: 0px 8px 3px -9px #000000;
		  box-shadow:         0px 8px 3px -9px #000000;

}

.dropdiv {
    position: relative;
    display:  inline-block;
    padding-top: 50px;
}

.filterDropdown:before {
    content: "";
    position: absolute;
    right: 7%;
    top: 17px;
  	width: 0;
  	height: 0;
  	border-left: 9px solid transparent;
  	border-right: 9px solid transparent;
  	border-top: 9px solid #DCDCDC;
    pointer-events: none;

}

.filterDropdown:after {
    content: "";
    position: absolute;
    right: 7%;
    top: 13px;
  	width: 0;
  	height: 0;
  	border-left: 9px solid transparent;
  	border-right: 9px solid transparent;
  	border-top: 9px solid #00cca3;
    pointer-events: none;
}

select > option {
  background: #80ffe5;
  color: black;
