a:not(.btn):not(.noeffect):after {
  display:block;
  position:absolute;
  left:0;
  bottom:-1px;
  width:0;
  height:2px;
  background-color:#00D176;
  content:"";
  transition:width 0.2s;
}

.container1 {
  width:100%;
  height: 150px;
}
.container2{
  align-items: center;
  height: 700px;
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
}

.container.third {
  border-right-width: 1px;
  border-right-color: black;
}

.banner-container {
  background-size: 100% 100%;
  margin-top: -50px;
}

.banner-text {
  font-family: 'cambria';
  color: black;
}

.label1 {
  background-color: #00D176;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight:bold;
}

.deleteButton {
  margin-top: 15%;
  background-color:red;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight:bold;
}

input[type="file"] {
  display: none;
}

* {
  box-sizing: border-box;
}

.bezels{
  margin-left: 10%;
  margin-right: 10%;
}

#entry {
  display: flex;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: 15px 50%;
  background-size: 15px 15px;
  width: 90%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 4px;
  color:black;
}

#list{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
    border: 1px solid black;
    table-layout: fixed;
    background-color: white;
}

#list th, #list td {
  text-align: left;
  padding: 12px;
  vertical-align: middle;
}

#list th:first-child {
  text-align: left;
  padding: 12px;
  vertical-align: middle;
  width: 140px;
}

#list th:nth-child(2) {
  text-align: left;
  padding: 12px;
  vertical-align: middle;
  width: 140px;
}

#list tr {
  border: 0px;
  border-top: 1px solid #808080;
  background-color: #f2f2f2;
}

#list td:first-child{
  border-right: 1px solid #808080;
  text-align: center;
}

#list td:nth-child(2){
  border-right: 1px solid #808080;
  text-align: center;
}

#list th:first-child{
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 2px solid #000;
  text-align: center;
}

#list th:nth-child(2){
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 2px solid #000;
  text-align: center;
}

#list th:nth-child(3){
  border-top: 1px solid #000;
  border-bottom: 2px solid #000;
}

#list tr.header, #list tr:hover {
  background-color: #f1f1f1;
}

#list tr:hover {background-color: #ddd;}

#list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ec9586;
    color: white;
}

.flex-container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
}

.container1 {
  width:100%;
  height: 150px;
}



.container>.quarter, .container>.half, .container>.third, .container>.twothirds, .container>.threequarters
{display:inline-block; padding: 0 0 0 0; vertical-align:top}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: DodgerBlue;
  margin-left: 20px;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 15px 50px;
  height: 50px;
  display:flex;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-item{
  height: 30%;
}

.nav-item1{
  height: 40%;
}

.sidenav{
  margin-top: 6%;
  width: 100%;
  min-width: 280px;
  background-color: white;
  border-radius: 5px;
  height:150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.sidenav1{
  margin-top: 6%;
  width: 100%;
  min-width: 280px;
  background-color: white;
  border-radius: 5px;
  height:200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.navrow {
  padding-left: 35px;
  padding-right: 15px;
  margin-right: 50px;
}

.landingtitle {
  font-family: Georgia, serif;
  font-size: 50px;
  margin-left: 35%;
}

/* .landinglogo{
  position: absolute;
  margin-left: 12%;
  margin-top: 5%;
} */

.landinginfo {
  line-height: 2.4;
  font-size: 40px;
  font-weight: 100;
  margin-left: 20%;
}

.landinglogo {
  margin-left:5%;
  height: auto;
  width: auto;
  margin-top: 4%;
  margin:auto;
}

.signuphere {
  font-weight: normal;
  font-size: 20px;
  margin-left: 12%;
}

.landingquote {
  text-align: center;
  line-height: 2.2;
  width: 100%;
  padding-bottom: 35%;
  height: 10%;
  font-size: 25px;
  position: relative;
  font-family: "Helvetica Neue";

}
