a:not(.btn):not(.noeffect):after {
  display:block;
  position:absolute;
  left:0;
  bottom:-1px;
  width:0;
  height:2px;
  background-color:#00D176;
  content:"";
  transition:width 0.2s;
}

.container1 {
  width:100%;
  height: 150px;
}

.container.third {
  border-right-width: 1px;
  border-right-color: black;
}

.banner-container {
  background-size: 100% 100%;
  margin-top: -50px;
}

.label1 {
  background-color: #00D176;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight:bold;
}

input[type="file"] {
  display: none;
}

* {
  box-sizing: border-box;
}

.bezels{
  margin-left: 10%;
  margin-right: 10%;
}

#entry {
  display: flex;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: 15px 50%;
  background-size: 15px 15px;
  width: 90%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px;
  height:43px;
  margin-top:40px;
  margin-bottom:-2px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: DodgerBlue;
  margin-left: 20px;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 15px 50px;
  height: 50px;
  display:flex;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-item{
  height: 13%;
}

.sidenav{
  margin-top: 6%;
  margin-left: 4%;
  background-color: white;
  border-radius: 5px;
  height:500px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.navrow {
  padding-left: 35px;
  padding-right: 15px;
  margin-right: 50px;
}

canvas{
  margin-left: 20px;
  padding: 20px;
  background-color: white;
  max-width: 1300px;
  max-height: 650px;
}
