
{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var checklists_url    = "{{=URL('api', 'get_checklists')}}";
    var add_checklist_url = "{{=URL('api', 'add_checklist', user_signature=True)}}";
    var del_checklist_url = "{{=URL('api', 'del_checklist', user_signature=True)}}";
    var edit_checklist_url = "{{=URL('api', 'edit_checklist', user_signature=True)}}";
    var toggle_checklist_url = "{{=URL('api', 'toggle_public', user_signature=True)}}";
</script>
{{end}}


<div class="main_content">
    <div id="vue-div" class="display:none">
        <div v-if="logged_in">
            <input type="file" id="myFile" v-on:click="parse_data(myFile);">
          </input>
            <a class="btn rounded" v-on:click="add_checklist_button();"><i class="fa fa-plus"></i> Add
            </a>
            <div v-if="is_adding_checklist">
                 <input type="text" v-model="form_title" placeholder="Title"></input>
                 <textarea type="text" v-model="form_memo" placeholder="Memo"></textarea>
                 <div class="button_list">
                    <div class="buttons">
                        <a class="btn rounded" v-on:click="add_checklist(); add_checklist_button();">Submit</a>
                        <a class="btn rounded" style="background-color:red;" v-on:click="add_checklist_button();">Cancel</a>
                    </div>
                </div>
            </div>

            <div v-for="checklist in checklists">
                <div v-if= "checklist.user_email == auth_user">
                    <div class="memo">
                        <div v-if="is_editting_checklist != checklist.id">
                            <div class="memo_text">
                                <div class="memo_title">Title: ${checklist.title}</div>
                                <div class="memo_content">Memo: ${checklist.memo}</div>
                            </div>
                        </div>
                        <div v-if="is_editting_checklist == checklist.id">
                            <div class="memo_text">
                                <div class="memo_title">Title: ${checklist.title}</div>
                                <div class="memo_content">Memo: ${checklist.memo}</div>
                            </div>
                                <input type="text" v-model="edit_title = checklist.title" placeholder="Title"></input>
                                <textarea type="text" v-model="edit_memo = checklist.memo" placeholder="Memo"></textarea>
                            <div class="button_list">
                                <div class="buttons">
                                    <a class="btn rounded" v-on:click="edit_checklist(checklist.id); edit_checklist_button(checklist.id);">Submit</a>
                                    <a class="btn rounded" style="background-color:red;" v-on:click="edit_checklist_button(checklist.id);">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <div v-if="is_editting_checklist != checklist.id">
                            <div class="button_list">
                                <div class="buttons">
                                    <a class="btn rounded red">
                                        <i v-if="checklist.is_public" v-on:click="toggle_public(checklist.id); toggle_public_button();" class="fa fa-users"></i>

                                        <i v-if="!checklist.is_public" v-on:click="toggle_public(checklist.id); toggle_public_button();" class="fa fa-user"></i>
                                    </a>
                                    <a class="btn rounded" v-on:click="edit_checklist_button(checklist.id)" style=" background-color:green;">
                                        <i class="fa fa-edit fa-lg"></i>
                                    </a>
                                    <a class="btn rounded red" style="background-color:red;" v-on:click="delete_checklist(checklist.id)">
                                        <i class="fa fa-trash fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-for="checklist in checklists">
                <div v-if= "auth_user != checklist.user_email">
                    <div v-if="checklist.is_public">
                        <div class="memo">
                            <div class="memo_text">
                                <div class="memo_title">Title: ${checklist.title}</div>
                                <div class="memo_content">Memo: ${checklist.memo}</div>
                            </div>
                            <div class="button_list">
                                <div class="buttons">
                                    <a class="btn rounded red" style="background-color:gray; pointer-events: none;">
                                        <i class="fa fa-users"></i>
                                    </a>
                                    <a class="btn rounded" style="background-color:gray; pointer-events: none;">
                                        <i class="fa fa-edit fa-lg"></i>
                                    </a>
                                    <a class="btn rounded red" style="background-color: gray; pointer-events: none;">
                                        <i class="fa fa-trash fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="has_more" class="show_more">
                <a class="btn btn-default rounded" v-on:click="get_more()">
                    <i class="fa fa-ellipsis-h"></i>Load more
                </a>
            </div>
        </div>

        <div v-if="!logged_in">
            <h1 class="main_title">Welcome!</h1>
                <p class="explanation">This site will help you organize your life by storing your checklists.
                Please log in to use it.</p>
            <div class="login_button">
                <a href="{{=URL('default', 'user')}}" class="btn">Login</a>
            </div>
            <div v-for="checklist in checklists">
                <div v-if="checklist.is_public">
                    <div class="memo">
                        <div class="memo_text">
                            <div class="memo_title">Title: ${checklist.title}</div>
                            <div class="memo_content">Memo: ${checklist.memo}</div>
                        </div>
                        <div class="button_list">
                            <div class="buttons">
                                <a class="btn rounded red" style="background-color:gray; pointer-events: none;">
                                    <i class="fa fa-users"></i>
                                </a>
                                <a class="btn rounded" style="background-color:gray; pointer-events: none;">
                                    <i class="fa fa-edit fa-lg"></i>
                                </a>
                                <a class="btn rounded red" style="background-color: gray; pointer-events: none;">
                                    <i class="fa fa-trash fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="has_more" class="show_more">
                <a class="btn btn-default rounded" v-on:click="get_more()">
                    <i class="fa fa-ellipsis-h"></i>Load more
                </a>
            </div>
        </div>
    </div>
</div>


<script src="{{=URL('static', 'js/default_index.js')}}"></script>
