{{extend 'layout.html'}}

{{block head}}
{{end}}
<head>
  <script>
    var add_transaction_url = "{{=URL('api', 'add_transaction')}}";
    var get_transactions_url = "{{=URL('api', 'get_transactions')}}";
    var clear_table_url = "{{=URL('api', 'clear_table')}}";
  </script>
  <script type="text/javascript" src="../static/js/read-csv.js"></script>
  <script type="text/javascript" src="../static/js/delete-table.js"></script>
  <script type="text/javascript" src="../static/js/dropdown.js"></script>
  <link href="../static/css/stupid.css" rel="stylesheet">
  <link href="../static/css/index.css" rel="stylesheet">
  <link href="../static/css/dropdown.css" rel="stylesheet">
</head>
<title>Home</title>
<!DOCTYPE html>
<html>
  <div class="main_content">
    {{if auth.user is not None:}}
      <body>
        <div class="banner-container">
            <h1><center>Your Transactions</center></h1>
         </div>
        <div class="container" style="padding-top: 15px">
          <input type="text" id="entry" onkeyup="searchingWithFilter();" placeholder="Search for names.." title="Search">
          <div class="third" style="padding-top:4%;padding-left:5%;padding-right:10%;">
            <nav class="sidenav">
              <div>
                <ul style="padding-left:5px; padding-top:25px;">
                  <li class="nav-item1">
                    <a class="nav-link">
                      <label style="font-weight:400;cursor:pointer">Upload CSV File
                        <input type="file" id="csvFileInput" size="60" onchange="handleFiles(this.files)"
                            accept=".csv">
                      </label>
                    </a>
                  </li>
                  <li class="nav-item1">
                    <a class="nav-link" onclick="deleteTable()" style="color:red">
                      Delete Table
                    </a>
                  </li>
                </ul>
              </div>
            </nav>

            <nav class="sidenav1">
              <div>
                <ul style="padding-left: 7px; padding-top: 20px;">
                  <li class="nav-item">
                    <a class="nav-link">
                        Filter by Price:
                        <div class="filterDropdown">
                          <select id="prices" onchange="filterPrice()" >
                            <option value="-1">Range</option>
                            <option value="0"> Income</option>
                            <option value="1"> < $5</option>
                            <option value="2"> $5 to $10 </option>
                            <option value="3"> $10 to $20</option>
                            <option value="4"> $20 to $50</option>
                            <option value="5"> $50 to $100</option>
                            <option value="6"> $100+</option>
                          </select>
                        </div>
                    </a>
                  </li>
                  <li class="nav-item" >
                    <a class="nav-link">
                      Filter by Date:
                      <div class="filterDropdown">
                        <select id="dates" onchange="filterDate()" >
                          <option value="-1">Range</option>
                          <option value="1">Past Day</option>
                          <option value="2">Past Week </option>
                          <option value="3">Past Month</option>
                          <option value="4">Past Quarter</option>
                          <option value="5">Past Year</option>
                        </select>
                      </div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" onclick="refresh();" style="color:red">
                      Reset Filters
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
        </div>
          <div class="twothirds" style="height:70%;overflow:auto;margin-top:10px;margin-left:-4.8%;">
            {{if transactions:}}
              <table id="list">
                <tr>
                  <th>Date</th>
                  <th>Price</th>
                  <th>Description</th>
                </tr>
                {{for tn in transactions:}}
                  <tr>
                    <div class="table_cells">
                      <td>{{=tn.date_made.strftime("%m/%d/%Y")}}</td>
                      <td>${{=tn.price}}</td>
                      <td>{{=tn.description}}</td>
                    </div>
                  </tr>
                {{pass}}
              </table>
            {{else:}}
              <center>
                <div class="bodytext" class= "margin-left: 0%; padding-top: 10%">
                <h4>
                  You have no transactions! Click the "Upload CSV File" button above to get started.
                </h4>
              </div>
              </center>
            {{pass}}
          </div>
        </div>
          {{else:}}
            <h1><center>Welcome to Budget Tracker!</center></h1>
            <div class="flex-container">
              <div class="half">
                  <img src="../static/images/logo.png" style="margin:auto; display:block;">
              </div>
              <div class="half" style="margin:auto; display:block;">
                <div class="landinginfo">
                  <i>Manage your Expenses</i>
                  <br>
                  <i>View Purchase History</i>
                  <br>
                  <i>Track Spending Habits</i>
                  <br>
                  <br>
                  <div class="signuphere">
                    Sign up today. It's easy to use and <u><b> its free! </b></u>
                  </div>
                </div>
              </div>

            </div>
            <br>
     {{pass}}

      </body>
  </div>
</html>
<script src="../static/js/search.js"></script>
