{{extend 'layout.html'}}

{{block head}}
{{end}}
<script>
  var add_transaction_url = "{{=URL('api', 'add_transaction')}}";
  var get_transactions_url = "{{=URL('api', 'get_transactions')}}";
</script>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">
  <link href="../static/css/statsDropdown.css" rel="stylesheet">
  <link href="../static/css/stupid.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

  <title>Statistics</title>

  <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<!doctype html>
<html>
  <div class="main_content">
    {{if auth.user is not None:}}
      <body>
        <div class="banner-container">
          <div class="banner-text" style="margin-top: 5%;">
            <h1><center><b>Statistics<b></center></h1>
          </div>
        </div>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
          <input id="search" onclick="findPercent(); itemPercentage();" class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
          <ul class="navbar-nav px-3">
          </ul>
        </nav>

        <div class="container-fluid">
          <div class="navrow">
            <nav class="col-md-2 sidenav">
              <div class="sidebar-sticky">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" value="daily" onclick="return0(); toggler();" >
                      <span data-feather="calendar"></span>
                      All Time <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item" >
                    <a class="nav-link" value="yearly" onclick="return1(); toggler();">
                      <span data-feather="calendar"></span>
                      Yearly
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" value="monthly" onclick="return2(); toggler();">
                      <span data-feather="calendar"></span>
                      Monthly
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" value="weekly" href="#">
                      <span data-feather="calendar"></span>
                      Weekly
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" value="compare" onclick="return4(); toggler();">
                      <span data-feather="calendar"></span>
                      Compare
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" value="compare" onclick="return5(); toggler();">
                      <span data-feather="calendar"></span>
                      Percentage Spending
                    </a>
                  </li>
                </ul>
              </div>
            </nav>

            <main role="main" class="col-md-9">
              <div id="main">
                <h1><center>
                  Click an item in the sidebar to view a graph!
                </center></h1>
              </div>
              <div class= "statHeaders" id="monthlyFilter" style="display:none; margin-left:20px;">
                <h1 class="h2" style="float:left; margin-right: 25px;">Money Spent Per Month</h1>
                <div class="filterDropdown">
                  <select id="selectYear" onchange="selectYear()">
                    <option>Select a year</option>
                    <option value="2018"> 2018</option>
                    <option value="2017"> 2017</option>
                    <option value="2016"> 2016</option>
                  </select>
                </div>
              </div>
              <div id="yearly" style="display:none; margin-left:20px;">
                <h1 class="h2">Money Spent Per Year</h1>
              </div>
              <div id="daily" style="display:none; margin-left:20px;">
                <h1 class="h2">Money Spent Over All Time</h1>
              </div>
              <div id="comparison" style="display:none; margin-left:20px;">
                <h1 class="h2">Comparing Money Spent in 2017 and 2018</h1>
              </div>
              <div id="pie" style="display:none; margin-left:20px;">
                <h1 class="h2">Categories Spent Money In</h1>
              </div>
              <div id="weekly" style="display:none; margin-left:20px;">
                <h1 class="h2">Money Spent Per Week</h1>
              </div>
              <table style="display:none" id="list" style="width:100%" >
                <tr>
                  <th>Date</th>
                  <th>Price</th>
                  <th>Description</th>
                </tr>
                {{for tn in transactions:}}
                  <tr>
                    <div class="table_cells">
                      <td>{{=tn.date_made.strftime("%m/%d/%Y")}}</td>
                      <td>${{=tn.price}}</td>
                      <td>{{=tn.description}}</td>
                    </div>
                  </tr>
                {{pass}}
              </table>

              <canvas class="my-4 w-100" id="dailyChart" style="display:none"></canvas>
              <canvas class="my-4 w-100" id="yearChart" style="display:none"></canvas>
              <canvas class="my-4 w-100" id="monthChart" style="display:none"></canvas>
              <canvas class="my-4 w-100" id="weekChart" style="display:none"></canvas>
              <canvas class="my-4 w-100" id="cmpChart" style="display:none"></canvas>
              <canvas class="my-4 w-100" id="pieChart" style="display:none"></canvas>
              <canvas class="my-4 w-100" id="pieChart2"></canvas>

            </main>
          </div>
        </div>

      {{else:}}
      <h1><center>Welcome to Budget Tracker!</center></h1>
      <div class="container">
        <div class="half compressible">
          <div class="landinglogo">
            <img src="../static/images/logo.png" class="center">
          </div>
        </div>
         <div class="half compressible">
          <div class="landinginfo">
            <i>Manage your Expenses</i>
            <br>
            <i>View Purchase History</i>
            <br>
            <i>Track Spending Habits</i>
            <br>
            <br>
            <div class="signuphere">
              Sign up today. It's <u>FREE!</u>
            </div>
          </div>
         </div>
       </div>
       <br>
    {{pass}}
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <!-- Icons -->
      <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
      <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="../static/js/charts.js"></script>
  </body>
  </div>
</html>
